<!DOCTYPE html>
<html lang="en">

<head>
  <title>Checkout</title>
  <p style="background-image: url('/images/checkoutImg.jpeg');"></p>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/styles/checkout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/checkout.js"></script>

</head>

<body class="bg_img">
  <%- include("partials/_header") %>
  <div class='checkout_page'>
    <div class='checkoutTitleContainer'>
      <h1 id="checkout_title">Order Review</h1>
    </div>

    <table id="checkout">
      <div class="checkoutContainer">
        <% let subtotal=0; %>
          <% for (item of pendingItemsWithQuantity){ %>
            <div id="item_name">
              <%= item.name %>
            </div>
            <div>
              Price: $<%= item.price %>
            </div>
            <!-- <div>
              Ingredients: <%= item.ingredients %>
            </div> -->
            <div>
              Quantity: <%= item.quantity %>
            </div>
            <div>
              <% subtotal=subtotal + item.price*item.quantity; %>
            </div>
            <% } %>
              <div  class='checkoutTotal'>Total: $<%= subtotal %>
              </div>
      </div>
    </table>

    <form method="POST" action="/checkout">
      <div>
        <table id="order"></table>
      </div>
      <div class="successMessage1"></div>
      <div class="successMessage2"></div>
    </form>
  </div>

  <div class="buttonContainer">
    <div>
      <input type="button" id="submit_button" value="Submit order" />
    </div>
    <div>
      <input id="clear_cart_button" type="button" onclick="location.href='/menu';" value="Clear Cart" />
    </div>
  </div>

</body>

</html>
